<th:block th:replace="frags :: head('Gestione foto')">
</th:block>

<body>
    <main>
        <div class="dashboard">
            <div th:insert="frags :: sidebar">

            </div>
            <div class="main-content">
                <div th:if="${updateMessage}" class="alert alert-success text-center">
                    [[${updateMessage}]]
                </div>
                <div class="d-flex justify-content-center">
                    <h1>Gestione foto</h1>
                </div>
                <div th:if="${#lists.isEmpty(photos)}" class="d-flex justify-content-center mt-2">
                    <h2>Nessuna foto trovata</h2>
                </div>
                <div  class="d-flex justify-content-center">
                    <div class="table-responsive mt-2">
                        <div class="d-flex">
                        <form method="GET">
                            <div class="input-group flex-nowrap mb-2">
                            <span class="input-group-text" id="addon-wrapping">Titolo</span>
                            <input type="text" name="title" class="form-control" placeholder="Foto da ricercare" for="title" aria-describedby="addon-wrapping" th:value="${title}">
                            <button type="submit" class="btn btn-primary">Cerca</button>
                        </div>
                        </form>
                        <div class="ms-auto">
                        <a th:href="@{/photos/create}" class="btn btn-primary">Aggiungi una foto</a>  
                    </div>

                    </div>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">ID</th>
                                    <th scope="col">Titolo</th>
                                    <th scope="col">Descrizione</th>
                                    <th scope="col">Preview</th>
                                    <th scope="col">Categorie</th>
                                    <th sec:authorize="hasAuthority('SUPER_ADMIN')" scope="col">Utente</th>
                                    <th scope="col">Visibile</th>
                                    <th scope="col">Azioni</th>
                                    <th  sec:authorize="hasAuthority('SUPER_ADMIN')" scope="col">Mostra/Nascondi</th>

                                </tr>
                            </thead>
                            <tbody th:if="${!#lists.isEmpty(photos)}">
                                <tr 
                                th:each="photo : ${photos}" 
                                th:object="${photo}" class="align-middle text-center">
                                    <td>[[*{id}]]</td>
                                    <td>[[*{title}]]</td>
                                    <td>[[*{description}]]</td>
                                    <td><img class="preview img-thumbnail" th:src="*{url}" th:alt="*{url}"></td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li 
                                            th:each="category : *{categories}"
                                            th:object="${category}">
                                                [[*{name}]]
                                            </li>
                                        </ul>
                                    </td>
                                    <td sec:authorize="hasAuthority('SUPER_ADMIN')">[[*{user.username}]]</td>
                                    <td>[[*{visible ? 'SI' : 'NO'}]]</td>
                                    <td>
                                        <a th:href="@{/photos/{id}(id=*{id})}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                                        <a th:href="@{/photos/update/{id}(id=*{id})}" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a>
                                        <form class="delete-form" th:action="@{/photos/delete/{id}(id=*{id})}" method="POST">
                                           <a class="btn btn-danger delete-button"><i class="fa-regular fa-trash-can"></i></a>  
                                          </form>

                                    </td>
                                    <td sec:authorize="hasAuthority('SUPER_ADMIN')">
                                        <form class="delete-form" th:action="@{/photos/change-visibility/{id}(id=*{id})}" method="POST">
                                            <a class="btn btn-warning delete-button"></i>[[*{visible ? 'NASCONDI' : 'MOSTRA'}]]</a>  
                                           </form>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </main>
    <script th:src="@{/js/form.js}"></script>
</body>

</html>