<th:block th:replace="frags :: head('Gestione foto')">
</th:block>

<body>
    <main>
        <div class="dashboard">
            <div th:insert="frags :: sidebar">

            </div>
            <div class="main-content">
                <div class="d-flex justify-content-center">
                    <h1>Gestione foto</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="table-responsive mt-2">
                        <div class="d-flex">
                        <form method="GET">
                            <div class="input-group flex-nowrap mb-2">
                            <span class="input-group-text" id="addon-wrapping">Titolo</span>
                            <input type="text" name="title" class="form-control" placeholder="Foto da ricercare" for="title" aria-describedby="addon-wrapping">
                            <button type="submit" class="btn btn-primary">Cerca</button>
                        </div>
                        </form>
                    </div>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">ID</th>
                                    <th scope="col">Titolo</th>
                                    <th scope="col">Descrizione</th>
                                    <th scope="col">Preview</th>
                                    <th scope="col">Categorie</th>
                                    <th scope="col">Visibile</th>
                                    <th scope="col">Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr 
                                th:each="photo : ${photos}" 
                                th:object="${photo}" class="align-middle text-center">
                                    <td>[[*{id}]]</td>
                                    <td>[[*{title}]]</td>
                                    <td>[[*{description}]]</td>
                                    <td><img class="preview img-thumbnail" th:src="*{url}" th:alt="*{url}"></td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li 
                                            th:each="category : *{categories}"
                                            th:object="${category}">
                                                [[*{name}]]
                                            </li>
                                        </ul>
                                    </td>
                                    <td>[[*{visible ? 'SI' : NO}]]</td>
                                    <td>
                                        <!--  TO  DO   -->
                                        <a th:href="@{/photos/{id}(id=*{id})}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </main>
</body>

</html>