<th:block th:replace="frags :: head('Gestione categorie')">
</th:block>

<body>
    <main>
        <div class="dashboard">
            <div th:insert="frags :: sidebar">

            </div>
            <div class="main-content">
                <div class="d-flex justify-content-center">
                    <h1>Gestione categorie</h1>
                </div>
                <div th:if="${#lists.isEmpty(categories)}" class="d-flex justify-content-center mt-2">
                    <h2>Nessuna categoria trovata</h2>
                </div>
                <div th:if="${!#lists.isEmpty(categories)}" class="d-flex justify-content-center">
                    <div class="table-responsive mt-2">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">ID</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Cancella</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr 
                                th:each="category : ${categories}" 
                                th:object="${category}" class="align-middle text-center">
                                    <td>[[*{id}]]</td>
                                    <td>[[*{name}]]</td>
                                    <td>
                                        <!--  TO  DO   -->
                                        <a href="">TASTO</a>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </main>
</body>

</html>